.banner {
    width: 100%;
    height: 400px;
    margin: 0 auto;
    background: url("/Img/banner.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    text-align: center;
}